name: Build ChimeraOS image
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

on:
  workflow_call:
    inputs:
      postfix:
        type: string
        description: Postfix used in release.
        default: ''

jobs:
  build-rootfs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      version: ${{ steps.build_rootfs.outputs.version }}
      display_name: ${{ steps.build_rootfs.outputs.display_name }}
      display_version: ${{ steps.build_rootfs.outputs.display_version }}
      rootfs: ${{ steps.build_rootfs.outputs.rootfs }}
    steps:
      - name: Set 8.8.8.8 as dns server
        run: |
          sudo sed -i 's/#DNS=/DNS=8.8.8.8 8.8.4.4/g' /etc/systemd/resolved.conf
          sudo systemctl daemon-reload
          sudo systemctl restart systemd-networkd
          sudo systemctl restart systemd-resolved
      - run: |
          sudo prlimit --pid $$ --nofile=500000:500000
          ulimit -a
      - name: Maximize build space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/share/java
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /opt/az
          df -h
      - uses: actions/checkout@v4
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - uses: actions/download-artifact@v4
        with:
            pattern: AUR-packages*
            merge-multiple: true
            path: aur-pkgs/
      - uses: actions/download-artifact@v4
        with:
            pattern: Packages*
            merge-multiple: true
            path: pkgs/
      - name: Build rootfs
        id: build_rootfs
        run: |
          docker pull ${{ steps.meta.outputs.tags }}
          docker run -u root --rm --entrypoint=/workdir/generate-rootfs.sh -v $(pwd):/workdir -v $(pwd)/output:/output -v $GITHUB_OUTPUT:$GITHUB_OUTPUT -e "GITHUB_OUTPUT=$GITHUB_OUTPUT" --privileged=true ${{ steps.meta.outputs.tags }} $(echo ${GITHUB_SHA} | cut -c1-7)
          echo -e "$(docker inspect --format='{{index .RepoDigests 0}}' ${{ steps.meta.outputs.tags }})" > output/container.txt
      - name: Upload Package Archives
        uses: actions/upload-artifact@v4
        with:
            name: rootfs
            path: output/${{ steps.build_rootfs.outputs.rootfs }}
            compression-level: 0
